<!-- <h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p> -->

<h1>New Post </h1>	

<%= form_for @post, html: { multipart: true } do |f| %>
	<%= f.label :image %>
	<%= f.file_field :image, class: "photo" %>
	<br>
	<%= f.label :description %><br>
	<%= f.text_area :description %>
	<br>
	<%= f.submit "Choose Photo", class: "btn btn-primary"  %>

<% end %>

